version: "3.9"
services:
  convertium:
    container_name: convertium
    # image: josiahbull/convertium:latest
    build: .
    # ports:
      # - "6787:80"
    volumes:
      - './data:/data'
      - '/media/movies:/movies'
      - '/media/tv:/tv'
    environment:
      - TIMEZONE="Pacific/Auckland"
      # - WEBHOOK_ERROR_URL="https://example.com/"
      # - PUID=1000
      # - PGID=1000
    restart: unless-stopped

  # postrges:
  #   image: postgres
  #   volumes:
  #     - './data:/var/lib/postgresql/data'
  #   environment:
  #     - POSTGRES_USER=convertium
  #     - POSTGRES_PASSWORD=convertium
  #     - POSTGRES_DB=convertium
